sudo: required
language: android
android:
  components:
  - build-tools-23.0.1
  - android-23
  - extra-android-m2repository
  - extra-google-google_play_services
  - extra-google-m2repository
  - addon-google_apis-google-16
env:
  global:
  - TERM=dumb
  - MYAPP_RELEASE_STORE_FILE=my-release-key.keystore
  - MYAPP_RELEASE_KEY_ALIAS=my-key-alias
  - secure: id8ULsvrgEdok7ovEgZkIlv9YcaKttf87FF23mByhIc1uSIpPVuffume/qyz29Wx9fwScDPTcgJZ31ciahQqAumzCgDVho1zfbcz0pOh5SgDjFcPdrj2/LmJrv2P4RIeSRaYZ2fuJrFDlXucl24SYKM/MwmCirjc/6I8Gc7VA7pk/+Z2FlLGDp9uY+pz1rZtIcGyxMLQACgt2djuc3WVKj4sM14cE+o611d40QmxKC+rllUnnybl3a5tsJNRq4/e1jRaP7eCedeA2KJ5art8gz/hctZA9H9yRFsgxY31496UNIuoeTzH4kc4A3QbgIoXkvDlK8e57lcLF8v+7q8mgFq/mLSlzUFzmCPBwq8Pd6dBnbYW6Dbg6mfpUehvhJ1hEz8VEFzzlM1Ebdpoy9kPFtJmNKpAb20HSbOo7HUjCUYwsBfIoyvGv+GXxjJu/LJFlK2qDM8DcUuMGUgG2hm/5CQbnDytvQyVwMd6zwQaLLmsagbZOXPZDHVzKgt90am//q/9TjNb53opSgHKeCqmoWDy0bCdM0eHqpcYiW7RhylZAGohgxHCFxpze8h8YNNCrHcTamol9EI4ur0ShmW5sLhGls9EwUrphJsruFqbOL5gM3AUwEV3NK2zNQauYle2kecV5k12p9Pa+vUNR3hQlghUL69rkpMaJ6KJzfShCKg=
  - secure: qvmmSfxXCs7i5iGDB/jupXsKaOP/SStZ6vq3392YXJA5poirTO+ZepxVpOYgYuWZsq+f5GjFNjHVUtaqUel52oVxOqP+rVej+idF+x0+18UMCBGyUxNy/5MzUjj5zYC8UsG6W777SEUzykv7pwQ2+KcbT7GcmN92ldWj1gtf0q0/8g3k17331ehJoM0JuRPQ5qMPvP26L2bNlS/a02tSzUGOuQ+FDfpHgK4S/cYrVRQXMqzA/V/H7SzlHA1H/9Gefb4Vuj9yXCE2fX7O7BM6lt/KzuD5V9G9Vye1VbU/sxcLNgWVEfQoWOJ7kdXyOZFtMRhWYQfntYT4QNP0pIXzANNOazyQlIPS9qqpPbhf364bJirm/DY60oZMv2LgG1ixaj7tW6Wrb0ZZ6gQ0JYLRhz5AskHTOM4IcOPcF9K340wfmdC1g//JHVhHkFeR6ygsrHejLSXPNYHYlyR3dC+6AAWkWBufBykFmqxq1O4G064XkydS20hzegBydPunvQC3LdwB502vR8nruSfC5iF1lPObtUBZPX9t4C09QDuo9VMp7sE/8VcGlVzeernv2cueOhnVwARmI6/wdw8kL7WlBAvODXIaNAeNRJUoUG90o0O5MkgqQB3CW5JHEEPZ6XEWcJgF3yMpqBB46Fx4TXs5FPl5j4FXgh2yX2KOJ5xSfRg=
before_install:
- nvm install 6
- node --version
install:
- npm install
- npm run link
script:
- npm run lint
- cd android && ./gradlew assembleDebug && cd ..
before_deploy:
- openssl aes-256-cbc -K $encrypted_130f945cb2a4_key -iv $encrypted_130f945cb2a4_iv
  -in my-release-key.keystore.enc -out my-release-key.keystore -d
- mv my-release-key.keystore ./android/app
- npm run build-apk
- ls ./android/app/build/outputs/apk
deploy:
  provider: s3
  access_key_id: AKIAIR5MKAXU6BZKVU3A
  secret_access_key:
    secure: Q6HgovJo2yljN85tSx+vbsc2Ku2BwRUjnGKtBOqvyUw155ldpCL2D2Tw9kWZ4K1Cmz7u1cV1Zi77YEIWDrjYBMqZrhGiuxcPozMwqeJLfQo5eN/IZA8JlnqpLHxzm6BRzwj6noH6UDceRSUH9aIyyj3WIB4PlOrZWRRC6rLzggSSZwGHq5ok05P0V2PhGq3IQsUzRibW2vJbv7PeTNomIn/HjFneMMlj4gnHEHj5MmrUDkYFjGFHMiCxBxIgyGMs9LlmS/KW40ytkJaDUtcMgOI3GLZpqePVcTGGFIgp/b5pLiTgCV/xqIy1Vgi9/n2Nj4IEWsowK4IYD+NWm+EQjTy4n+lUdE5XBc2A+kPqLpYJLCR4W8ailzcVwhX0WJalq86YLRE+WqGLSfn/EHPPDw80XnU/UC9cBw5jw5FZVJIi6e6vngpW7yk2NbY7QKU5JqIqUg8bolHGNA+e6iWzbomcskoSgjvgD2YgbRY/CWHPiHSMTU+5o6sF87m4pgja7zwQDH+WKdkK88e+F5jy8ODb4Ml9DXFgcOtPL1C5L5XjeZPbWxNdiDat4e1hHHDKLVhHITNogzqQi4yYyBdaJVvtbeMjotiPwwK12Xp/5II+3KIiZy19zUGCiI90T4zSl79jyxRnCTdPikb7TG4LigV5MlSJsNxlRd6Uew8mWXA=
  bucket: heutagogy
  region: eu-central-1
  local-dir: android/app/build/outputs/apk
  skip_cleanup: true
  upload-dir: heutagogy-mobile-app
  acl: public_read
  on:
    repo: heutagogy/HeutagogyMobileApp
    branch: master
